@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;  
}

/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/

/* Header Buttons */
/* The Entire header */
nav {
    width: 70%;
    margin-left: 30%;
    height: 60px;
    opacity: 100%;
    position: fixed;
    /*background:rgb(233, 229, 229);*/
    background:rgb(233, 229, 229);
    top: 0;
    opacity: 100%;
    z-index: 1;
}

/* Not Used --- Used for scroll effect on header with colour change
nav .black {
    width: 70%;
    margin-left: 30%;
    height: 8%;
    opacity: 100%;
    position: fixed;
    background-color: #000000;
    top: 0;
    opacity: 80%;
    z-index: 1;
}
*/

/* The position of the buttons in general */
nav ul {
    display: flex;
    margin: 0 50px;
    padding: 0 0;
    float: right;
}


/* The position of the buttons relative to eachother */
nav ul li 
{
    list-style: none;
    margin: 0px 15px;
    padding: 0px 15px;
    transition: 0.6s;
}

/* Background Colour of the Buttons on Hover */
nav ul li:hover {
    background-color: #0077B5;
    transition: 0.6s;
}

/* Display of how the buttons look */
nav ul li a{
    display: block;
    color: black;
    font-weight: bold;
    display: flex;
    transition: 0.6s; 
    text-decoration: none; 
    line-height: 60px;  
}


/* Display of buttons on Hover */
nav ul li a:hover {
    /*color:lightslategray;*/
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    /*transform: translate(0, -10px)*/
}

/* Not Needed
@media (min-width: 10000px) {
    nav {
        grid-template-columns: repeat(2, 1fr);
    }
} */ 

/* Header Buttons Done */

/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/

/* Pages Created */
/* How the two pages look side by side */
.pages {   
    display: flex;    
}

/* Left Page Created */
.left {
    width: 30%;
    position: fixed;
    height: 100%;
}

/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/

/* Right Page Created */
.right {
    width: 70%;
    background-color: white;
    margin-left: 30%;
}
.right span {
    color: #0077B5;
}

/* start right */
.container {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    overflow-x: scroll;
    line-height: 30px;
    font-weight: lighter;
}

/*  */
.container::-webkit-scrollbar-y {
    background: rgba(0, 0, 0, 0.158);
} 

/*  */
.container{
  -webkit-mask-position: left top;
}


@media (min-width: 10000px) {
    .right {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*  */
/* Destination Links */
.DLP {
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

/*  */
.DLP p {
    font-size: 30px;
    text-align: center;
}
  
/*  */
.DLP li {
    text-emphasis-color: black;
    list-style: lower-greek;
    font-size: larger;
    padding: 10px 0px;
    transition: .6s;
}
   
/*  */
.DLP li a {
    color: #0077B5;
    text-decoration: none; 
}
   
/*  */
.DLP li:hover {
    text-decoration: none;
    transform: translate(10px, 0);
    transition: .6s;
    opacity: 70%;
}
/* Destination Links End */




.quote{
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);      
}

.p{
    margin-top: 0;
}

span{
    font-weight: bold;
    position: relative;
    margin-left: 15px;
}










.left {
    overflow-y: scroll;
    mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
    
  }
  
  /*
  .left:hover {
    -webkit-mask-position: left top;
  }

  /*  */
.left{
    -webkit-mask-position: right top;
}

/*  */
.left {
    text-align: center;
    justify-content: center;
    padding: 0.5em;
}


/*  */
.left h1 {
    font-size: 3em;
    letter-spacing: 3px;
}


/*  */
.left p {
    padding: 0.5em;
    font-size: 1.2rem;
}

/*  */
.ex {
    color: #fff;
    background-color: #000000;
    background: black;
    margin-left: -15%;
    margin-right: -5.59%;
    padding: 5em;
    margin-top: 2em;
}

/*  */

  
.slide-pager {
    justify-content: center;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}


.slides {
    width: 500%;
    height: auto;
    display: flex;
}

.slides input {
    display:none;
    
}


.slide {
    width: 20%;
    transition: 2s;
    
}

.slide img {
    height: auto;
    
}

/* Manuel */
.navigation-manual {
    position:relative;
    display: flex;
    justify-content: center;;

}
.navigation-manual label {
    justify-items: center;
    height: 0.5px;
    width: 25px;
}
.manuel-btn {
    border: 1px solid black;
    padding: 5px;
    border-radius: 1000px;
    cursor: pointer;
    transition: 1s;
}


.manuel-btn:not(:last-child) {
    margin-right: 40px;
}

.manuel-btn:hover {
    background: #0077B5;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}



.pro-ex {
    color: #0077B5;
}

.ex p {
    text-align: center;
    font-size: 40px;
}

.ex1 {
    color: #fff;
    background-color: #000000;
    background: black;
    margin-left: -6.8%;
    margin-right: -6.8%;
    padding: 2em;
    margin-top: 2em;
}
.ex1 p {
    text-align: center;
    font-size: 30px;
}  



/* name */
.quote3{
    padding-top: 3em;
    border-radius: .3em;
    text-align: center;
}

/* Icons */
.quote4{
    text-align: center;
}




/* social */
.social-menu ul
{
    position: relative;
    top: 10%;
    padding: 0;
    justify-content: center;
    margin: 0;
    width: 100%;
    display: flex;
}

.social-menu ul li
{
    list-style-type: none;
    margin: 0px 15px;
}

.social-menu ul li .fab
{
    font-size: 50px;
    line-height: 80px;
    transition: .6s;
    color:black;
}

.social-menu ul li .fab:hover
{
    color: #fff;
}

.social-menu ul li a
{
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10px)
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #e4405f;
}

.social-menu ul li:nth-child(2) a:hover{
    background-color: #0077B5;
}

/* end social*/


/*  */
.social-menu2 ul li a{
    color: #0077B5; 
}

/*  */
.social-menu2 ul {
    padding: 0;  
}

/*  */
.social-menu2 ul li {
    list-style: none; 
}




.left{
    animation: colorchange 75s linear 1s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 75s linear 0s infinite alternate; /* Chrome and Safari */
}

#left {
  text-align: center;
  color: inherit;
  opacity: 75%;
  mix-blend-mode: difference;
  font-family: Cooper Black, Helvetica, Arial;
}
@keyframes colorchange
    {
      0%   {background: rgb(109, 144, 221); color: white}
      33%  {background:rgb(140, 140, 216); color: white}
      66%  {background: rgb(123, 189, 233); color: white}
      100% {background: rgb(140, 164, 218); color: white}
   }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
        0%   {background: rgb(109, 144, 221); color: white}
        33%  {background:rgb(140, 140, 216); color: white}
        66%  {background: rgb(114, 114, 221); color: white}
        100% {background: rgb(161, 181, 224); color: white}
   }

  

   
.social-menu2 ul
{
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
}

.social-menu2 ul li
{
    list-style-type: none;
    margin: 0px 15px;
}


.social-menu2 ul li
{
    line-height: 0px;
    transition: .6s;
    color: #fff;
    margin-bottom: 5%;
    margin-top:5%;
}


.social-menu2 ul li a
{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    transition: .6s;
    color:#0077B5;
}


.social-menu2 ul li:hover{
    transform: translate(0, -10px)
}


.container2 {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
}




.responsive {
    width: 100%;
    height: auto;
  }

.quote spam {
    color: #0077B5;
    font-weight: bolder;
}

.quote .caption {
      color: #0077B5;
}

.quote2 {
    background-color: rgb(255, 255, 255);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.30);
}

/*  */
.quote2 .responsive {
    width: 100%;
    height: auto;
}

/*  */
.quote2 .p {
    margin-top: 0;
}

.quote2 spam {
    color: #0077B5;
    font-weight: bolder;
}

.quote2 .caption {
      color: #0077B5;
}

.left span {
    color: #0077B5;
}

.pro {
    color: #0077B5;
}
